---
name: cykreet.com
description: This very website, built to host my projects and professional information. Built with sveltekit and hosted on vercel.
technologies: ["Bun", "SvelteKit", "Vite", "Tailwind", "TypeScript"]
publishedDate: "2025-01-15"
---

<svelte:head>
	<title>{metadata.name}</title>
	<meta name="description" content="{metadata.description}">
</svelte:head>

### this is