---
name: Alligator
description: Discord webhook proxy server, which batches sequential requests to minimise ratelimits. Built to be a drop-in replacement for webhook endpoints.
technologies: ["Rust", "Docker"]
publishedDate: "2022-07-19"
---

<svelte:head>
	<title>{metadata.name}</title>
	<meta name="description" content="{metadata.description}">
</svelte:head>


### this is the titl