@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background;
  overflow-y: overlay;
  color: #c3c5c9;
}

a {
  color: #e83e27;
}

a:hover {
  color: #fc7968;
}

h1,
h2,
h3 {
  @apply text-white;
  @apply tracking-tight;
}

h1 {
  @apply font-black;
  @apply text-8xl;
}

h2 {
  @apply text-4xl;
  @apply font-bold;
}

h3 {
  @apply text-2xl;
  @apply font-medium;
}

.container {
  padding: 0 1rem;
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 576px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 768px;
  }
}
