@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-grey-100;
  @apply bg-background;
  overflow-y: overlay;
  overflow-x: hidden
}

::selection {
  @apply bg-salmon;
  @apply text-black;
}

a {
  @apply underline;
  @apply decoration-salmon;
  @apply decoration-2;
}

a:hover {
  @apply decoration-[3px];
}

h1,
h2,
h3 {
  @apply text-white;
  @apply tracking-tight;
}

h1 {
  @apply font-black;
  @apply text-6xl;
}

h2 {
  @apply text-4xl;
  @apply font-bold;
}

h3 {
  @apply text-2xl;
  @apply font-medium;
}

.container {
  padding: 0 1rem;
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 576px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 768px;
  }
}
