@import "tailwindcss";

@theme {
	--color-background: #090a0a;

	--color-grey: #202123;
	--color-grey-100: #9d9ea1;
	--color-grey-200: #7d7e81;
	--color-grey-300: #646569;
	--color-grey-400: #202123;
	--color-grey-700: #101217;
	--color-grey-900: #0b0b0f;

	--color-lavender: #a793de;
	--color-lavender-50: #bba7f2;
	--color-lavender-100: #a793de;

	--color-salmon: #e83e27;
	--color-salmon-50: #fc7968;
	--color-salmon-100: #e83e27;
}

body {
	@apply text-grey-100;
	@apply bg-background;
	font-family: "Space Grotesk", sans-serif;
	font-optical-sizing: auto;
	overflow-y: overlay;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	background: inherit;
	height: 14px;
	width: 8px;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
	background-clip: padding-box;
	border-radius: 7px;
	border-style: solid;
	border-width: 2px;
}

::-webkit-scrollbar-track {
	border-width: initial;
}

::-webkit-scrollbar-thumb {
	@apply bg-grey-400;
	border-color: transparent;
}

::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0);
	border-color: transparent;
}

::selection {
	@apply bg-lavender;
	@apply text-black;
}

a {
	@apply no-underline;
}

a:hover {
	@apply decoration-[3px];
}

h1,
h2,
h3 {
	@apply tracking-tight;
}

h1 {
	@apply font-black;
	@apply text-6xl;
}

h2 {
	@apply text-white;
	@apply text-4xl;
	@apply font-bold;
}

h3 {
	@apply text-white;
	@apply text-2xl;
	@apply font-medium;
}

.glass-gradient {
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(158, 24, 248, 0.115) 100%);
}

.card-gradient {
	background: -moz-linear-gradient(0deg, rgba(60, 60, 63, 0) 84%, rgb(25, 17, 31) 100%);
	background: -webkit-linear-gradient(0deg, rgba(60, 60, 63, 0) 84%, rgb(25, 17, 31) 100%);
	background: linear-gradient(0deg, rgba(60, 60, 63, 0) 84%, rgb(25, 17, 31) 100%);
}

.card-glow {
	background: radial-gradient(
		80% 75.9245283018868% at 40% 40.5%,
		rgba(0, 81, 255, 0) 0%,
		rgba(0, 153, 255, 0) 36%,
		rgba(103, 79, 126, 0) 63%,
		rgba(87, 69, 110, 0.25) 83%,
		rgb(198, 131, 207) 100%
	);
	bottom: 0;
	flex: none;
	height: 500px;
	left: 0;
	mask: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 100%) add;
	overflow: hidden;
	pointer-events: none;
	position: absolute;
	right: 0;
	z-index: 2;
}

.container {
	padding: 0 1rem;
	width: 100%;
}

@media (min-width: 640px) {
	.container {
		max-width: 576px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 640px;
	}
}

@media (min-width: 1024px) {
	.container {
		max-width: 768px;
	}
}

@keyframes slide-from-left {
	from {
		transform: translateX(-30px);
	}
}

@keyframes slide-to-right {
	to {
		transform: translateX(30px);
	}
}

@keyframes slide-from-bottom {
	from {
		transform: translateY(30px);
	}
}

@keyframes slide-to-top {
	to {
		transform: translateY(-30px);
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
}

@keyframes fade-out {
	to {
		opacity: 0;
	}
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes slide-in-left {
	from {
		opacity: 0;
		transform: translateX(-30px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slide-in-bottom {
	from {
		opacity: 0;
		transform: translateY(30px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.animate-slide-left {
	animation: 500ms cubic-bezier(0.4, 0, 0.2, 1) slide-in-left;
}

.animate-slide-bottom {
	animation: 500ms cubic-bezier(0.4, 0, 0.2, 1) slide-in-bottom;
}

.animate-fade {
	animation-duration: 0.5s;
	animation-name: fade-in;
	animation-delay: 0.5s;
	animation-fill-mode: backwards;
}

.name-body {
	view-transition-name: body;
}

::view-transition-old(body) {
	animation: 500ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-right, 600ms cubic-bezier(0.4, 0, 1, 1) both fade-out;
}

::view-transition-new(body) {
	animation: 500ms cubic-bezier(0.4, 0, 0.2, 1) 300ms both slide-from-left, 200ms cubic-bezier(0, 0, 0.2, 1) 300ms both
		fade-in;
}
